/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
  color: white;

  height: 100vh;

  box-sizing: border-box;
}

.titulo-destaque {
  color: #22d4fd;
}
.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10%;
}

.apresentacao__conteudo {
  width: 615px;
}
.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__titulo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  background-color: #22d4fd;
}
